[merge]
	tool = kdiff3
[diff]
	guitool = kdiff3
[core]
	editor = \"F:/GitExtensions/GitExtensions.exe\" fileeditor
[pull]
	rebase = false
[fetch]
	prune = false
[rebase]
	autoStash = false
[user]
	name = s40523242
	email = 40523242@gm.nfu.edu.tw
